.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.modal__bg {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--title-color);
  opacity: 0.9;
}

.modal .picture-wrapper--main {
  height: calc((550 / 1440) * 100vw);
  width: calc((550 / 1440) * 100vw);
  border-radius: 15px;
  margin-bottom: 32px;
}

.modal .pictures {
  position: relative;
  z-index: 100;
}

.pictures .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  z-index: 999;
  width: 56px;
  height: 56px;
  background-color: #fff;
  border-radius: 100%;
}

.btn--previous {
  left: -28px;
}

.btn--next {
  right: -28px;
}

.btn > img {
  color: red;
  fill: red;
}

.icon {
  stroke: var(--text-color);
}

.btn--modal-nav:hover {
  opacity: 1;
}

.btn--next:hover .icon,
.btn--previous:hover .icon {
  stroke: var(--primary);
}

.btn--close .icon {
  stroke: none;
  fill: #d8d8d8;
}

.btn--close:hover .icon {
  fill: var(--primary);
}

.btn.btn--close {
  background-color: transparent;
  width: auto;
  height: auto;

  top: -24px;
  right: 0;
}

.viewport {
  position: relative;
  height: fit-content;
}

.modal {
  display: none;
}

.modal.displayed {
  display: flex;
}
