.section {
  width: auto;
  margin: 0 calc((212 / 1440) * 100vw);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--vertical {
  flex-direction: column;
  justify-content: flex-start;
}

.container--pricing {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.product-info {
  width: calc((445 / 1440) * 100vw);
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.incrementer > .btn > img {
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 27px;
}

.title {
  font-size: 700;
  font-size: 44px;
  margin-bottom: 2rem;
}

.current-price {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--title-color);
}

.percentage {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 27px;
  width: 51px;
  font-size: 16px;
  color: var(--primary);
  font-weight: 700;
  background-color: #ffeee2;
  border-radius: 6px;
  margin-left: 27px;
}

.price {
  width: 100%;
  text-decoration: line-through;
  font-weight: 700;
  color: #b8bcc8;
}

.btn {
  max-height: 56px;
  width: calc((272 / 1440) * 1440);
  height: 56px;
  display: flex;
  align-items: center;
  gap: calc((16 / 1440) * 100vw);
  justify-content: center;
  background-color: var(--primary);
  font-family: "Kumbh Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  border: none;
}

.btn--add {
  min-width: 180px;
}

.section__footer {
  margin-top: 2rem;
  width: 100%;
}

.section__footer > .container {
  width: 100%;
  justify-content: space-between;
  gap: auto;
}

.incrementer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 56px;
  width: calc((157 / 1440) * 100vw);
  background-color: #f6f8fd;
  border-radius: 10px;
  min-width: 157px;
}

.incrementer .btn {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 12px;
  width: 12px;
  min-height: 24px;
  min-width: 24px;
  background-color: transparent;
  border: none;
}

.incrementer .btn--minus {
  height: 3px;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.current {
  position: relative;
  opacity: 0.5;
  border-color: var(--primary);
}

@media all and (max-width: 990px) {
  .section {
    margin: 80px;
  }

  .section__header {
    width: 100%;
  }

  .section > .container {
    flex-direction: column;
    width: 100%;
    row-gap: 90px;
  }

  .section__footer > .container {
    justify-content: flex-start;
    gap: 18px;
  }

  .container {
    width: auto;
  }
}

@media all and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .section {
    margin: 1.5rem;
  }

  .title {
    font-size: 28px;
    margin-bottom: 1rem;
  }

  .subtitle {
    margin-bottom: 1.25rem;
  }
  .price {
    width: auto;
    margin-left: auto;
  }

  .section__footer > .container {
    flex-direction: column;
    gap: 1rem;
  }

  .incrementer {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}
